* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container {
	max-width: 1200px;
	width: 100%;
	height: 760px;
	margin: 0 auto;
	position: relative;
	background-image: url("images/background.jpg");
	background-position: center;
}
/*.background {
	background-image: url("images/background.jpg");
	width: 900px;
	height: 560px;
}*/
.redcar {
	position: absolute;
	width: 200px;
	height: 200px;
	animation-name: redcardanime;
	animation-duration: 6s;
	animation-delay: 0.3s;
	animation-timing-function: linear;
	animation-fill-mode: backwards;
	animation-iteration-count: 5;
	animation-direction: alternate;
	background-image: url("images/red car.png");
}
@keyframes redcardanime {
	0% {
		top: 300px;
		left: 0;
	}
	100% {
		top: 300px;
		left: 800px;
	}
}
.bluecar {
	position: absolute;
	background-image: url("images/blue car.png");
	width: 200px;
	height: 200px;
	animation-name: bluecaranime;
	animation-duration: 6s;
	animation-delay: 0.3s;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
	animation-iteration-count: 5;
	animation-direction: alternate;
}
@keyframes bluecaranime {
	0% {
		top: 300px;
		right: 0;

	}
	100% {
		top: 300px;
		right: 850px;
	}
}
