* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container {
	max-width: 950px;
	width: 100%;
	height: 560px;
	margin: 0 auto;
	background-image: url("images/background.jpg");
	background-position: center;
}
/*.background {
	background-image: url("images/background.jpg");
	width: 900px;
	height: 560px;
}*/
