* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container {
	max-width: 950px;
	width: 100%;
	height: 560px;
	margin: 0 auto;
	position: relative;
	background-image: url("images/background.jpg");
	background-position: center;
}
/*.background {
	background-image: url("images/background.jpg");
	width: 900px;
	height: 560px;
}*/
.redcar {
	position: absolute;
	width: 200px;
	height: 200px;
	animation-name: redcardanime;
	animation-duration: 6s;
	animation-delay: 0.5s;
	animation-timing-function: linear;
	animation-fill-mode: backwards;
}
@keyframes redcardanime {
	from {
		top: 5px;

	}
	to {
		top: 500px;
	}
}