* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container {
	max-width: 1107px;
	width: 100%;
	height: 560px;
	margin: 0 auto;
	position: relative;
	background-image: url("images/background.jpg");
	background-position: center;
}
/*.background {
	background-image: url("images/background.jpg");
	width: 900px;
	height: 560px;
}*/
.bluecar {
	position: absolute;
	width: 366px;
    height: 126px;
	animation-name: bluecaranime;
	animation-duration: 10s;
	animation-delay: 0.1s;
	animation-timing-function: linear;
	animation-fill-mode: backwards;
	animation-iteration-count: 5;
	animation-direction: alternate;
	background-image: url("images/bluecar.png");
}
@keyframes bluecaranime {
	0% {
		top: 65%;
		left: 0;
	}
	100% {
		top: 65%;
		left: 760px;
	}
}
.pinkcar {
	position: absolute;
	background-image: url("images/pinkcar.png");
    width: 297px;
    height: 167px;
	animation-name: pinkcaranime;
	animation-duration: 10s;
	animation-delay: 0.1s;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
	animation-iteration-count: 5;
	animation-direction: alternate;
	z-index: 1;
}
@keyframes pinkcaranime {
	0% {
		top: 70%;
		right:0;
	}
	100% {
		top: 70%;
		right: 820px;
	}
}
.sun {
	position: absolute;
	background-image: url("images/sun.png");
    width: 200px;
    height: 200px;
	animation-name: sunanime;
	animation-duration: 10s;
	animation-delay: 0.1s;
	animation-timing-function: linear;
	animation-fill-mode: backwards;
	animation-iteration-count: 2;
	animation-direction: normal;
/*	animation-play-state: running;*/
	animation-iteration-count: infinite;

}
@keyframes sunanime {
/*	0% {
		top: 20%;
		left: 0;
	}*/
	30% {
		top: 10%;
		left: 10%;
	}
	50% {
		top: 20%;
		left: 30%;
	}
	80% {
		top: 20%;
		left: 30%;
	}
	100% {
		top: 10%;
		left: 50%;
	}
}